<div class="github-card">
    <h1>Login using GitHub!</h1>
    <a href="/api/sessions/github">
        <button><i class="fab fa-github github-icon fa-xl"></i> Login with GitHub</button>
    </a>
    <br>
    <h2>Don't want to use GitHub? You can use our links:</h2>
    <p>Not registered yet? <a href="/users/register">Register here</a></p>
    <p>Already have an account? <a href="/users/login">Login here</a></p>
</div>